*
{
	margin: 0;
	padding: 0;
	font-family: "Yoon-Gothic";
	letter-spacing: -0.01em;
}

@font-face {
	font-family:'Yoon Gothic';
	font-style:normal;
	font-weight:100;
	src:local('☺︎'), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-709.woff") format("woff"), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-709.ttf") format("truetype");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic 100';
	src:url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-709.eot");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic';
	font-style:normal;
	font-weight:200;
	src:local('☺︎'), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-720.woff") format("woff"), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-720.ttf") format("truetype");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic 200';
	src:url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-720.eot");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic';
	font-style:normal;
	font-weight:500;
	src:local('☺︎'), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-760.woff") format("woff"), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-760.ttf") format("truetype");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic 500';
	src:url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-760.eot");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-774.woff") format("woff"), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-774.ttf") format("truetype");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic 600';
	src:url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-774.eot");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic';
	font-style:normal;
	font-weight:700;
	src:local('☺︎'), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-790.woff") format("woff"), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-790.ttf") format("truetype");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic 700';
	src:url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-790.eot");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

@font-face {
	font-family:'Yoon Gothic';
	font-style:normal;
	font-weight:400;
	src:url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-750.eot");
	src:local('☺︎'), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-750.woff") format("woff"), url("/wss/fonts/Yoon-Gothic/v1/YoonGothic-750.ttf") format("truetype");
	/* Copyright © 2012 YoonDesign Inc. All rights reserved. */
}

::selection{
    background: rgba(241, 143, 174, 0.05);
    color: #AFAB8B;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 0.45em;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(20, 19, 60, 0.78);
}
::-webkit-scrollbar-thumb:hover{    
    background: rgba(7, 5, 66, 0.78);
}

::-webkit-scrollbar-corner {
    display: none;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.3em 0;
}

h1
{
	font-weight: 200;
	font-size: 50px;
}

h2
{
	font-weight: 200;
	font-size: 32px;
}

h3
{
	font-weight: 200;
	font-size: 22px;
}

h4
{
	margin-top: 40px;
	font-weight: 200;
	font-size: 16px;
}

p
{
	width: 500px;
	font-size: 14.2px;
	font-weight: 400;
	line-height: 1.45;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-style: normal;
}

.show
{
	animation: fly 0.8s linear;
	-moz-animation: fly 0.8s linear;
	-webkit-animation: fly 0.8s linear;
	-o-animation: fly 0.8s linear;
}

@keyframes fly
{
	from { margin-left: -100px; color: transparent;}
	to { margin-left: 0; color: white;}
}

@-moz-keyframes fly
{
	from { margin-left: -100px; color: transparent;}
	to { margin-left: 0; color: white;}
}

@-o-keyframes fly
{
	from { margin-left: -100px; color: transparent;}
	to { margin-left: 0; color: white;}
}

@-webkit-keyframes fly
{
	from { margin-left: -100px; color: transparent;}
	to { margin-left: 0; color: white;}
}

.fade
{
	animation: fadein 3s linear;
	-moz-animation: fadein 3s linear;
	-webkit-animation: fadein 3s linear;
	-o-animation: fadein 3s linear;
}

@keyframes fadein
{
	from { color: transparent;}
	to { color: white;}
}

@-moz-keyframes fadein
{
	from { color: transparent;}
	to { color: white;}
}

@-o-keyframes fadein
{
	from { color: transparent;}
	to { color: white;}
}

@-webkit-keyframes fadein
{
	from { color: transparent;}
	to { color: white;}
}

.textshow
{
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

.textshow:hover
{
	color: #B95C86;
}

.header
{
	background: url("./images/1.jpg");
	width: 600px;
	height: 450px;
	text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.container
{
	width: 620px;
	padding-top: 102px;
	padding-bottom: 102px;
	text-align: center;
	color: #333333;
}

.section_background
{
	background-color: #fafafa;
}

.myimage
{
	border-radius: 20px;
	margin-bottom: 20px;
}

.image_text
{
	width: 350px;
	padding-left: 30px;
    padding-top: 40px;
	color: white;
}

.gray
{
	color: #A7A7A7;
}